@import url('Css/variables.css');
@import url('Css/base.css');
@import url('Css/header.css');
@import url('Css/hero.css');
@import url('Css/products.css');
@import url('Css/sections.css');
@import url('Css/cart.css');
@import url('Css/modal.css');
@import url('Css/favorites.css');
@import url('Css/responsive.css');