/* ===== Style Store - Main CSS ===== */
/* All styles are organized in separate files */

@import url('css/base.css');
@import url('css/header.css');
@import url('css/hero.css');
@import url('css/products.css');
@import url('css/sections.css');
@import url('css/cart.css');
@import url('css/modal.css');
@import url('css/favorites.css');
@import url('css/responsive.css');